@keyframes airpods1 {
     0%    {margin-top: 0;} 
     50%  {margin-top: -2vw;}
     100%  {margin-top: 0px;}

     
}

@keyframes airpods2 {
     0%    {margin-top: 0px;} 
     50%  {margin-top: 2vw;}
     100%  {margin-top: 0px;}
}


@keyframes airpods3 {
     0%    {margin-top: 0px;} 
     50%  {margin-top: 7vw;}
     100%  {margin-top: 0px;}
}

