/*============================== GOOGLE FONTS ==============================*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
/*=============== Varibles sass ===============*/
/********** Font weight **********/
/********** Colors **********/
/********** Z-index **********/
/********** Variables CSS **********/
:root {
  /********** Fonts **********/
  --body-font: "Roboto", sans-serif;
  --biggest-font-size: 3rem;
  --bigger-font-size: 2rem;
  --big-font-size: 1.25rem;
  --normal-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 6rem;
    --bigger-font-size: 4rem;
    --big-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.938rem;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 0 0;
  font-family: var(--body-font);
  background-color: #f4f4f6;
  color: #1d1d1f;
  overflow: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #1d1d1f;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  width: 100%;
}

.header__sub-menu__list {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.header__sub-menu__list li {
  text-align: center;
  margin-top: 50px;
}

.header__sub-menu__list li a {
  font-size: var(--smaller-font-size);
}

.nav {
  position: fixed;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0px 0px 5px 0px gray;
  z-index: 100;
  top: 0;
  background-color: #f4f4f6;
}

.nav__logo {
  font-size: var(--big-font-size);
}

.nav__container {
  display: flex;
}

.nav__toggle {
  cursor: pointer;
  align-items: center;
  text-align: center;
}

.nav__toggle i {
  display: none;
  font-size: 30px;
  align-items: center;
}

.nav__menu ul {
  align-items: center;
}

.nav__list {
  display: flex;
}

.nav__item {
  margin-bottom: 0;
  margin-right: 1rem;
}

.nav__link__fixed {
  color: #fff;
  background-color: #1d1d1f;
  padding: 10px;
  border-radius: 36px;
}

.nav__link:hover {
  color: #fff;
  background-color: #1d1d1f;
  padding: 10px;
  border-radius: 36px;
}

.main-container {
  width: 80%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: #f0f0f0;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main-container__texts h1 {
  font-size: var(--biggest-font-size);
  font-weight: 400;
}

.main-container__texts p {
  font-size: var(--smaller-font-size);
}

.main-container__airpods {
  height: 500px;
  width: 350px;
  display: flex;
  justify-content: space-between;
}

.main-container__airpods__left {
  height: 400px;
  width: auto;
  animation-name: airpods1;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

.main-container__airpods__right {
  height: 400px;
  width: auto;
  animation-name: airpods2;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

.main-container__scroll {
  text-align: center;
  position: absolute;
  bottom: 30px;
}

.main-container__scroll p {
  font-size: var(--smaller-font-size);
  margin-bottom: 15px;
}

.main-container__scroll a {
  font-size: 40px;
  color: #0071e3;
}

.main-container__2 {
  width: 80%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.main-container__2 img {
  height: 350px;
  width: auto;
  margin-left: 50px;
  animation-name: airpods3;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

.main-container__2 p {
  font-size: 400;
  text-align: center;
}

.main-container__2 p span {
  font-size: var(--bigger-font-size);
  font-weight: 700;
}

@keyframes airpods1 {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: -2vw;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes airpods2 {
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: 2vw;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes airpods3 {
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: 7vw;
  }
  100% {
    margin-top: 0px;
  }
}

.footer__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 18px;
  bottom: 0;
  align-items: center;
  box-shadow: 0px 0px 5px 0px gray;
}

.footer__container p {
  font-size: var(--smaller-font-size);
}

.footer__container__social {
  font-size: 2 rem;
}

.footer__container__social i {
  margin-left: 1rem;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .nav {
    justify-content: space-between;
  }
  .nav__menu {
    position: fixed;
    top: -100%;
    right: 0;
    background-color: #fff;
    border: gray solid;
    border-width: 0 0 1px 1px;
    border-radius: 0 0px 36px 36px;
    width: 100%;
    height: auto;
    padding: 2rem 1rem;
    z-index: 100;
    text-align: center;
    transition: all 0.5s;
  }
  .nav__menu li:not(:last-of-type) {
    margin-bottom: 1rem;
  }
  .nav__toggle {
    display: flex;
  }
  .nav__toggle a {
    align-items: center;
    margin-left: 10px;
  }
  .nav__toggle i {
    display: flex;
  }
  .nav__list {
    display: inline;
  }
  .show {
    top: 3rem;
  }
  .main-container {
    width: 90%;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: initial;
    padding-top: 40px;
  }
  .main-container__texts h1 {
    font-size: var(--biggest-font-size);
    font-weight: 400;
  }
  .main-container__texts p {
    font-size: var(--smaller-font-size);
  }
  .main-container__airpods {
    width: 140px;
    height: 100px;
    padding-top: 50px;
  }
  .main-container__airpods__left {
    height: 150px;
    width: auto;
  }
  .main-container__airpods__right {
    height: 150px;
    width: auto;
  }
  .main-container__scroll {
    text-align: center;
    position: absolute;
    bottom: 30px;
  }
  .main-container__scroll p {
    font-size: var(--smaller-font-size);
    margin-bottom: 15px;
  }
  .main-container__scroll a {
    font-size: 40px;
    color: #0071e3;
  }
  .main-container__2 {
    width: 80%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  .main-container__2 img {
    height: 170px;
    width: auto;
    margin-left: 50px;
    animation-name: airpods1;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
  }
  .main-container__2 p {
    font-size: 400;
    text-align: center;
  }
  .main-container__2 p span {
    font-size: var(--bigger-font-size);
    font-weight: 700;
  }
  .footer__container {
    flex-direction: column;
  }
  .footer__container p {
    font-size: var(--big-font-size);
  }
  .footer__container__social {
    margin-top: 10px;
    margin-right: 15px;
  }
}
